DJANGO_DEBUG=1
CHANNEL_LAYER_BACKEND=inmemory
REDIS_HOST=
REDIS_PORT=6379
AI_AUTO_REGISTER_WEBHOOK=0
STREAM_PREVIEW_FPS=3
STREAM_PREVIEW_MAX_WIDTH=960
STREAM_PREVIEW_JPEG_QUALITY=70
STREAM_IDLE_TTL_SECONDS=60
OPENCV_FFMPEG_CAPTURE_OPTIONS=rtsp_transport;tcp|stimeout;3000000
