Django==5.2.7
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
gunicorn==23.0.0
python-dotenv==1.2.1
requests==2.32.5
PyJWT==2.10.1
opencv-python-headless>=4.10.0

# Real-time notifications
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2
redis>=5.0.0
PyYAML==6.0.2

# Postgres and Cloud DB Routing
dj-database-url==2.1.0
psycopg2-binary==2.9.9
